h1.tc-site-title {
	font-size: calc(1em + 2vmin);
	font-weight: 900;
	color: tomato;

	--x-offset: -0.0625em;
	--y-offset: 0.0625em;
	--stroke: 0.025em;
	--background-color: white;
	--stroke-color: lightblue;

	text-shadow:

		var(--x-offset) var(--y-offset) 0px var(--background-color),

		calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);

}

/* for browsers that support spread, added in
https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
currently: none browsers! none of them!
I can't even find a test: 
https://wpt.fyi/results/css/css-text-decor */
@supports (text-shadow: 1px 1px 1px 1px black) {
	h1.tc-site-title {
		text-shadow:

			var(--x-offset) var(--y-offset) 0px 0px var(--background-color),

			var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);

	}
}